* {
    padding: 20px;
}

body {
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);

}

h1 {
    color: #fff;
}

h2 {
    color: #fff;
    font-style: italic;
}

p {
    color:#fff;
}

